/* filepath: /src/components/EyewitnessForm.css */
.eyewitness-form {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  gap: 20px;
  padding: 20px;
  width: 100%; /* Make form span full width */
  max-width: 600px; /* Limit the form width */
  margin: 0 auto; /* Center horizontally */
}

@media print {
  .eyewitness-form {
    max-width: 9in; /* Ensure it fits within 9" width when printing */
    margin: 0 auto; /* Center horizontally when printing */
  }
}

.form-row {
  display: flex;
  flex-direction: column; /* Ensure label is under input */
  justify-content: space-between; /* Add space between form input boxes */
  margin: 0; /* Remove margin */
  width: 100%; /* Make form controls span the entire width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.form-row > div {
  flex: 0 0 100%; /* Set width to 100% */
}

.checkbox-group {
  display: flex;
  justify-content: space-between; /* Space the checkboxes equally apart */
  width: 100%; /* Ensure the checkboxes span the entire width */
  gap: 10px;
  grid-column: span 1;
}

.eyewitness-form > button {
  grid-column: span 1; /* Adjust button to span single column */
  justify-self: center;
}

.form-control {
  width: 94% !important; /* Ensure form controls span 94% width */
  margin-left: 3%; /* Add left margin of 3% */
  margin-right: 3%; /* Add right margin of 3% */
}