.App {
  text-align: center;
  width: 100vw; /* Ensure app spans the entire viewport width */
  max-width: 100%; /* Ensure it spans the entire width */
  display: flex;
  flex-direction: column; /* Ensure header is at the top */
  justify-content: flex-start; /* Align items to the top */
  align-items: center; /* Center horizontally */
  height: auto; /* Auto height */
  min-height: 100vh; /* Minimum full viewport height */
  margin: 0; /* Remove all margins */
  background-color: black; /* Add black background */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  width: 100vw; /* Ensure header spans the entire viewport width */
  max-width: 100%; /* Ensure it spans the entire width */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
